<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name=".MyApplication"
    package="com.integrador.apptrimonio">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_apptrimonio"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_apptrimonio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.apptr">
        <activity
            android:name=".Autenticar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".BoasVindas" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>