<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:name=".MyApplication"
    package="com.integrador.apptrimonio">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_apptrimonio"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_apptrimonio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.apptr">
        <activity android:name=".GerenciarObjeto"></activity>
        <activity android:name=".Objeto" />
        <activity android:name=".Perfil" />
        <activity android:name=".TextoInformativo" />
        <activity
            android:name=".AdicionarObjetos"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Autenticar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".BoasVindas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>